# Python
*.py[cod]

# Vim
*.sw[ponm]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Project Files
.mr.developer.cfg
.project
.pydevproject
.ropeproject

# Data files
*.h5
*.csv
*.npy

# Graph files
*.dot
./*.png

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# -------------------

# Cython Extensions
blaze/carray/*.[ch]
blaze/cutils.c
blaze/engine/*.[ch]
blaze/expr/*.[ch]
blaze/desc/*.[ch]
blaze/algo/*.[ch]
blaze/rts/runtime.c
blaze/ts/ucr_dtw/ucr.c

# Sphinx Docs
docs/_build

# Website
web/_build

old/*

# generated data from samples
sample_tables

# Emacs tmps
*~
