sudo: false

language: python

matrix:
  fast_finish: true
  include:
    - python: 2.7
      env: SPARK_VERSION=1.4
    - python: 2.7
      env: SPARK_VERSION=1.5
    - python: 3.4
      env: SPARK_VERSION=1.4
    - python: 3.4
      env: SPARK_VERSION=1.5
    - python: 3.5
      env: SPARK_VERSION=1.5
    - python: 2.7
      env: PANDAS_VERSION="git+https://github.com/pydata/pandas" SPARK_VERSION=1.5
    - python: 3.4
      env: PANDAS_VERSION="git+https://github.com/pydata/pandas" SPARK_VERSION=1.5
    - python: 3.5
      env: PANDAS_VERSION="git+https://github.com/pydata/pandas" SPARK_VERSION=1.5
  allow_failures:
    - python: 2.7
      env: PANDAS_VERSION="git+https://github.com/pydata/pandas" SPARK_VERSION=1.5
    - python: 3.4
      env: PANDAS_VERSION="git+https://github.com/pydata/pandas" SPARK_VERSION=1.5
    - python: 3.5
      env: PANDAS_VERSION="git+https://github.com/pydata/pandas" SPARK_VERSION=1.5

services:
    - mongodb
    - mysql

addons:
  postgresql: "9.3"


install:
  # Install conda
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda update conda

  # Install dependencies
  # Use conda **ONLY** for numpy numba, this speeds up the builds a
  # lot. Use the normal pip install for the rest.
  - conda create -n blaze python=$TRAVIS_PYTHON_VERSION numpy=1.11.2 numba=0.29.0
  - source activate blaze
  # update setuptools and pip
  - conda update setuptools pip

  - conda install spark=$SPARK_VERSION -c blaze -c anaconda-cluster

  # blaze required deps
  - pip install git+https://github.com/blaze/datashape
  - pip install git+https://github.com/blaze/odo
  # if we are not pulling pandas from master, then install if from conda for
  # speed
  - if [ -n "$PANDAS_VERSION" ]; then pip install cython==0.24.1; pip install $PANDAS_VERSION; else conda install pandas=0.19.0; fi

  # Install coveralls
  - pip install coveralls

  # Install Blaze
  - pip install -e .[ci]

before_script:
  - "mongo admin --eval 'db.runCommand({setParameter: 1, textSearchEnabled: true});'"
  - psql -c "create database test;" -U postgres
  - mysql -e "create database if not exists test;" -u root
  - conda list
  - sleep 15

script:
  - conda list
  - py.test blaze

after_success:
  - coveralls

notifications:
  email: false
  flowdock: "b08b3ba4fb86fa48121e90b5f67ccb75"
  on_success: "change"
  on_failure: "always" # "change"
