sudo: false

language: python

matrix:
  fast_finish: true
  include:
    - python: 2.7
      env: SPARK_VERSION=1.3
    - python: 2.7
      env: SPARK_VERSION=1.4
    - python: 2.7
      env: SPARK_VERSION=1.5
    - python: 3.4
      env: SPARK_VERSION=1.4
    - python: 3.4
      env: SPARK_VERSION=1.5
    - python: 2.7
      env: PANDAS_VERSION="git+https://github.com/pydata/pandas" SPARK_VERSION=1.5
    - python: 3.4
      env: PANDAS_VERSION="git+https://github.com/pydata/pandas" SPARK_VERSION=1.5
  allow_failures:
    - python: 2.7
      env: PANDAS_VERSION="git+https://github.com/pydata/pandas" SPARK_VERSION=1.5
    - python: 3.4
      env: PANDAS_VERSION="git+https://github.com/pydata/pandas" SPARK_VERSION=1.5

services:
    - mongodb

addons:
  postgresql: "9.3"


install:
  # Install conda
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda update conda

  # Install dependencies
  - conda create -n blaze python=$TRAVIS_PYTHON_VERSION pytest numpy sqlalchemy pandas h5py pip flask requests pytables cython bcolz xlrd coverage psutil networkx numba pyyaml cytoolz toolz
  - if [ -n "$PANDAS_VERSION" ]; then conda remove -n blaze pandas; fi
  - source activate blaze

  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' || $TRAVIS_PYTHON_VERSION == '3.4' ]]; then conda install spark=$SPARK_VERSION -c blaze -c anaconda-cluster; fi
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then conda install pyhive -c blaze; fi

  - pip install psycopg2

  # blaze required deps
  - pip install git+https://github.com/blaze/datashape
  - pip install git+https://github.com/blaze/odo
  - if [ -n "$PANDAS_VERSION" ]; then pip install "$PANDAS_VERSION"; fi

  # functional libs
  - pip install git+https://github.com/mrocklin/multipledispatch

  # Install dask
  - pip install git+https://github.com/blaze/dask

  # Install PyMongo
  - pip install pymongo

  # Install dynd
  - conda install -c mwiebe dynd-python

  # Install coveralls
  - pip install coveralls

  # Install Blaze
  - python setup.py install

before_script:
  - sleep 15
  - "mongo admin --eval 'db.runCommand({setParameter: 1, textSearchEnabled: true});'"
  - psql -c "create database test;" -U postgres

script:
  - echo '[pytest]' > pytest.ini
  - echo 'addopts = -vv -r sxX --doctest-modules --doctest-ignore-import-errors --doctest-glob='*.rst' --pyargs blaze docs' >> pytest.ini
  - echo 'norecursedirs = docs/source/scripts' >> pytest.ini
  - coverage run --include='blaze/*' $(which py.test)
  - coverage report --show-missing

after_success:
  - coveralls

notifications:
  email: false
  flowdock: "b08b3ba4fb86fa48121e90b5f67ccb75"
  on_success: "change"
  on_failure: "always" # "change"
