language: python

python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"

branches:
  only:
    - master
    - reorg

# Note: conda is not available for anything but python 2.7. So below we try to install
# conda in 2.7 and use conda to install dependencies in the virtualenv for version x.y
install:
  # Install conda
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda update conda

  # Install dependencies
  - conda create -n test-environment python=$TRAVIS_PYTHON_VERSION pytest numpy sqlalchemy pandas h5py pip flask requests
  - source activate test-environment
  - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then conda install unittest2; pip install unicodecsv; fi
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then pip install unicodecsv; fi
  - pip install toolz cytoolz multipledispatch

  # Install DataShape
  - pip install git+http://github.com/ContinuumIO/datashape

  # Install BLZ
  # - pip install git+http://github.com/ContinuumIO/blz

  # Install Spark
  # - wget http://d3kbcqa49mib13.cloudfront.net/spark-0.9.1.tgz
  # - tar xvfz spark-0.9.1.tgz
  # - mv spark-0.9.1 spark
  # - export SPARK_HOME=$PWD/spark
  # - export PYTHONPATH=$PYTHONPATH:$SPARK_HOME/python
  # - cd spark
  # - ./sbt/sbt assembly
  # - cd ..

  # Install dynd
  - conda install -c mwiebe dynd-python
  # - git clone --depth=1 https://github.com/ContinuumIO/libdynd.git
  # - mkdir libdynd/build
  # - pushd libdynd/build
  # - cmake -DDYND_BUILD_TESTS=False ..
  # - make
  # - mkdir ../lib
  # - cp libdynd* ../lib
  # - chmod +x libdynd-config
  # - export PATH=$PATH:$PWD
  # - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$PWD
  # - popd
  # - git clone --depth=1 https://github.com/ContinuumIO/dynd-python.git
  # - mkdir dynd-python/build
  # - pushd dynd-python/build
  # - cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo -DUSE_SEPARATE_LIBDYND=ON -DCMAKE_INSTALL_PREFIX=${PWD} -DPYTHON_PACKAGE_INSTALL_PREFIX=${PWD} ..
  # - make
  # - make install
  # - export PYTHONPATH=$PYTHONPATH:$PWD
  # - popd

  # Install Blaze
  - python setup.py install

script: py.test --doctest-modules --verbose --pyargs blaze

notifications:
  email: false
  flowdock: "b08b3ba4fb86fa48121e90b5f67ccb75"
  on_success: "change"
  on_failure: "always" # "change"
