sudo: false

language: python

matrix:
  fast_finish: true
  include:
    - python: 2.7
      env: SPARK_VERSION=1.4
    - python: 2.7
      env: SPARK_VERSION=1.5
    - python: 3.4
      env: SPARK_VERSION=1.4
    - python: 3.4
      env: SPARK_VERSION=1.5
    - python: 3.5
      env: SPARK_VERSION=1.5
    - python: 2.7
      env: PANDAS_VERSION="git+https://github.com/pydata/pandas" SPARK_VERSION=1.5
    - python: 3.4
      env: PANDAS_VERSION="git+https://github.com/pydata/pandas" SPARK_VERSION=1.5
    - python: 3.5
      env: PANDAS_VERSION="git+https://github.com/pydata/pandas" SPARK_VERSION=1.5
  allow_failures:
    - python: 2.7
      env: PANDAS_VERSION="git+https://github.com/pydata/pandas" SPARK_VERSION=1.5
    - python: 3.4
      env: PANDAS_VERSION="git+https://github.com/pydata/pandas" SPARK_VERSION=1.5
    - python: 3.5
      env: PANDAS_VERSION="git+https://github.com/pydata/pandas" SPARK_VERSION=1.5

services:
    - mongodb
    - mysql

addons:
  postgresql: "9.3"


install:
  # Install conda
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda update conda

  # Install dependencies
  # - conda create -n blaze -c blaze python=$TRAVIS_PYTHON_VERSION pytest numpy sqlalchemy=1.0.* pandas h5py pip flask requests pytables cython bcolz xlrd coverage psutil networkx numba pyyaml cytoolz toolz multipledispatch dask pymongo=3.0 flask-cors psycopg2=2.6.1 pymysql
  - conda create -n blaze -c blaze python=$TRAVIS_PYTHON_VERSION --file blaze_env.yml
  - if [ -n "$PANDAS_VERSION" ]; then conda remove -n blaze pandas; fi
  - source activate blaze

  - conda install spark=$SPARK_VERSION -c blaze -c anaconda-cluster
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then conda install pyhive -c blaze; fi

  # blaze required deps
  - pip install git+https://github.com/blaze/datashape
  - pip install git+https://github.com/blaze/odo
  - if [ -n "$PANDAS_VERSION" ]; then pip install "$PANDAS_VERSION"; fi

  # Install coveralls
  - pip install coveralls

  # Install Blaze
  - python setup.py install

before_script:
  - "mongo admin --eval 'db.runCommand({setParameter: 1, textSearchEnabled: true});'"
  - psql -c "create database test;" -U postgres
  - mysql -e "create database if not exists test;" -u root
  - conda list
  - sleep 15

script:
  - echo '[pytest]' > pytest.ini
  - echo "addopts = -vv -r sxX --doctest-modules --doctest-ignore-import-errors --doctest-glob='*.rst' --pyargs blaze docs" >> pytest.ini
  - echo 'norecursedirs = docs/source/scripts' >> pytest.ini
  - coverage run --include='blaze/*' --omit='blaze/_version.py' $(which py.test)
  - coverage report --show-missing

after_success:
  - coveralls

notifications:
  email: false
  flowdock: "b08b3ba4fb86fa48121e90b5f67ccb75"
  on_success: "change"
  on_failure: "always" # "change"
