recursive-include blaze *.py
recursive-include docs *.rst

include requirements.txt
include requirements-strict.txt
include setup.py
include README.md
include LICENSE.txt
include MANIFEST.in

prune docs/_build
include versioneer.py
include blaze/_version.py
