recursive-include blaze *.py
recursive-include docs *.rst

include requirements-strict.txt
include requirements-py2.txt
include setup.py
include README.rst
include LICENSE.txt
include MANIFEST.in

prune docs/_build
include versioneer.py
include blaze/_version.py
