numpy >= 1.7
pandas >= 0.15.0
git+git://github.com/blaze/datashape.git
git+git://github.com/thequackdaddy/odo.git@reversion
cytoolz
toolz
multipledispatch >= 0.4.7
sqlalchemy >= 0.8.0
psutil
numpydoc
