click==6.6
cloudpickle==0.2.1
Cython==0.28
decorator==4.0.10
Flask==0.11.1
Flask-Cors==3.0.2
future==0.16.0
itsdangerous==0.24
Jinja2==2.8
llvmlite==0.24
locket==0.2.0
MarkupSafe==0.23
multipledispatch==0.4.9
networkx==1.11
numba==0.39  # please update the .travis.yml file!
numexpr==2.6.1
numpy==1.14  # please update the .travis.yml file!
pandas==0.23 # please update the .travis.yml file!
partd==0.3.6
psutil==5.4.2
psycopg2==2.7.5
PyMySQL==0.7.9
pytest==3.0.3
pytest-cov==2.0.0
python-dateutil==2.5.3
pytz==2016.7
pyyaml==3.11
requests>=2.11.1
six==1.10.0
SQLAlchemy==1.1.3
toolz==0.8.0
Werkzeug==0.11.11
