<div class="masthead">
  <ul class="nav nav-pills pull-right">

      {% for name, href, id, icon in navigation_bar %}
      <li {% if id == active_page %} class="active"{% endif %}>
          <a href="{{href}}"><i class="icon-{{icon}}"></i> {{name}}</a>
      </li>
      {% endfor %}

  </ul>
  <h3 class="muted"><img src="img/logo.svg" />Blaze</h3>
</div>
