<div class="container">

    <h1>Blaze</h1>

    <div class="row-fluid">
        <p class="lead">Blaze is the next generation of NumPy from <a href="http://continuum.io">Continuum Analytics.</a></p>
        <p class="lead">Blaze is an expressive, compact set of foundational
    abstractions for writing parallel computation over semi-structured data,
    of arbitrary formats and distributed across arbitrary networks.
        </p>
    </div>

    <div class="row-fluid">
        <h2>Source</h2>
        <pre class="span6">$ git clone https://github.com/ContinuumIO/blaze.git
$ cd blaze</pre>
    </div>

    <div class="row-fluid">
        <h2>License</h2>
        <p> Blaze is released under a 2-Clause BSD
        license.</p>
    </div>

</div>
