<h1>Blaze</h1>

<div class="row-fluid">
    <p class="lead">Blaze is the next generation of NumPy from <a href="http://continuum.io">Continuum Analytics.</a></p>
    <p class="lead">Blaze is designed as a foundational set of abstractions on which to build out-of-core and distributed algorithms</p>
</div>

<div class="row-fluid">
    <h2>Source</h2>
    <pre class="span6">$ git clone https://github.com/Continuum/blaze.git
$ cd blaze</pre>
</div>

<div class="row-fluid">
    <h2>License</h2>
    <p> Blaze is released under a 2-Clause BSD
    license.</p>
</div>
