<h1>Core Developers</h1>

<div class="row-fluid">
    <ul>
        <li>Travis Oliphant</li>
        <li>Peter Wang</li>
        <li>Francesc Alted</li>
        <li>Mark Wiebe</li>
        <li>Mark Florisson</li>
        <li>Stephen Diehl</li>
    </ul>
</div>
