<h3>Vision</h3>

<p class="lead">
Blaze is a generalization of NumPy to multiple byte segments, arbitrary data-types, and heterogeneous shapes.   These generalizations allow Blaze to be the foundation for a new generation of large-scale computing algorithms and systems.  
</p>

<p class="center">
    <img src="img/numpy_plus.png"/>
</p>

<p class="lead">
    Blaze is an array-oriented type system that dresses raw bytes in a global address space at run-time with meta-information that informs how segments can be referenced and how the data will be used in computation.   It is a system for allowing information held in bytes to be typed and indexed as N-dimensional arrays and tables.   These bytes can then be used in calculations composed of a single expression or an entire program and then executed on heterogeneous hardware (multiple nodes, multiple cores, and multiple GPUs).    The run-time library and type-system is extensible to handle computations of all kinds.  
</p>

<p class="center">
    <img src="img/codepush.png"/>
</p>

<p class="lead">
    Just as NumPy is the center of an ecosystem of singe-node, in-memory tools that use the NumPy array as a common shared abstraction around a single pointer to memory, Blaze is the center of an ecosystem of multiple-node, multiple-segment, and multiple calculation-unit algorithms and programs.   The common meme in effective use of Blaze is that developers should think about their data and the operations that should be done on their data in an array-oriented fashion, and that code should be moved to data as much as possible.  
</p>

<p class="center">
    <img src="img/sources.png"/>
</p>

<p class="lead">
    To enable this, Blaze has a compiler to create machine code based on the LLVM infrastructure.  It also has a family of adapters to data-storage formats of all kinds so that expert time can be spent processing data and not converting data from one format to another.    A blaze-program makes reference to data URLs, or builds up arrays from computed results.  These arrays or tables of information are then operated on by expressions that create resulting output.  The expressions are lazily evaluated until results are needed at which time computation is broken down and scheduled on the available hardware as close to the data as possible --- either automatically or using directives provided by the programmer. 
</p>
