<div class="container offset2">

    <div class="row-fluid">
        <p class="lead">Blaze extends NumPy arrays.</p>
    </div>
    <div class="row-fluid offset1">
        <img src="img/numpy_plus.png"/>
    </div>

</div>
